<label for="title">
	<f:translate key="tx_placements_domain_model_position.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="identifier">
	<f:translate key="tx_placements_domain_model_position.identifier" />
</label><br />
	<f:form.textfield property="identifier" /><br />
<label for="summary">
	<f:translate key="tx_placements_domain_model_position.summary" />
</label><br />
	<f:form.textarea property="summary" cols="40" rows="15" /><br />
<label for="description">
	<f:translate key="tx_placements_domain_model_position.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="entryDate">
	<f:translate key="tx_placements_domain_model_position.entry_date" />
</label><br />
	<f:form.textfield property="entryDate"  value="{position.entryDate->f:format.date()}" /><br />
<label for="fixedTerm">
	<f:translate key="tx_placements_domain_model_position.fixed_term" />
</label><br />
	<f:form.checkbox property="fixedTerm" value="1" /><br />
<label for="duration">
	<f:translate key="tx_placements_domain_model_position.duration" />
</label><br />
	<f:form.textarea property="duration" cols="40" rows="15" /><br />
<label for="zip">
	<f:translate key="tx_placements_domain_model_position.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_placements_domain_model_position.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="payment">
	<f:translate key="tx_placements_domain_model_position.payment" />
</label><br />
	<f:form.textarea property="payment" cols="40" rows="15" /><br />
<label for="contact">
	<f:translate key="tx_placements_domain_model_position.contact" />
</label><br />
	<f:form.textarea property="contact" cols="40" rows="15" /><br />
<label for="link">
	<f:translate key="tx_placements_domain_model_position.link" />
</label><br />
	<f:form.textfield property="link" /><br />