{namespace ps=Webfox\Placements\ViewHelpers}
<div class="row-fluid">
	<div class="span6">
		<div class="clearfix">
			<label for="title">{f:translate(key: 'tx_placements_domain_model_position.title')} <span class="required">{f:translate(key: 'tx_placements.general.required')}</span></label>
			<f:form.textfield property="title" />
		</div>
		<f:if condition="{workingHours}">
			<div class="clearfix">
				<label for="working_hours">{f:translate(key: 'tx_placements_domain_model_workinghours')}</label>
				<f:form.select
					id="working_hours"
		 			options="{workingHours}"
					property = "working_hours"
					optionValueField="uid"
					optionLabelField="title"
					prependOptionLabel="{f:translate(key: 'tx_placements.general.selectWorkingHours')}"
				/>
			</div>
		</f:if>
		<f:if condition="{positionTypes}">
			<div class="clearfix">
				<label for="position_type">{f:translate(key: 'tx_placements_domain_model_positiontype')}</label>
				<f:form.select
					id="position_type"
					property="type"
				 	options="{positionTypes}"
					optionValueField="uid"
					optionLabelField="title"
					prependOptionLabel="{f:translate(key: 'tx_placements.general.selectPositionType')}"
				/>
			</div>
		</f:if>
		<f:if condition="{sectors}">
			<div class="clearfix">
				<label for="sectors">{f:translate(key: 'tx_placements_domain_model_sector')}</label>
				<f:form.select
					id="sectors"
				 	options="{sectors}"
					property="sectors"
					optionValueField="uid"
					optionLabelField="title"
					prependOptionLabel="{f:translate(key: 'tx_placements.general.selectSector')}"
				/>
			</div>
		</f:if>
	</div>

	<div class="span6">
		<div class="clearfix">
			<label for="identifier">{f:translate(key: 'tx_placements_domain_model_position.identifier')}</label>
			<f:form.textfield property="identifier" />
			<label for="entryDate">{f:translate(key: 'tx_placements_domain_model_position.entry_date')}</label>
			<f:form.textfield property="entryDate"  value="{position.entryDate->f:format.date(format: '{settings.position.edit.entryDate.format}')}" />
		</div>
		<f:if condition="{categories}">
			<div class="clearfix">
				<label for="categories">{f:translate(key: 'tx_placements_domain_model_category')}</label>
				<f:form.select
					id="categories"
				 	options="{categories}"
					property="categories"
					optionValueField="uid"
					optionLabelField="title"
					prependOptionLabel="{f:translate(key: 'tx_placements.general.selectCategory')}"
				/>
			</div>
		</f:if>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<f:if condition="{organizations}">
			<div class="clearfix">
				<label for="organization">{f:translate(key: 'tx_placements_domain_model_organization')}</label>
				<f:form.select
					id="organization"
				 	options="{organizations}"
					property="organization"
					optionValueField="uid"
					optionLabelField="title"
					prependOptionLabel="{f:translate(key: 'tx_placements.general.selectOrganization')}"
				/>
			</div>
		</f:if>
		<div class="clearfix">
			<label for="city">{f:translate(key: 'tx_placements_domain_model_position.zip')} / {f:translate(key: 'tx_placements_domain_model_position.city')}</label>
			<f:form.textfield property="zip" class="zip" />
			<f:form.textfield property="city" class="city" />
		</div>

		<div class="clearfix">
			<label for="link">{f:translate(key: 'tx_placements_domain_model_position.link')}</label>
			<f:form.textfield property="link" class="link"/>
		</div>
	</div>

	<div class="span6">
		<label for="contact">{f:translate(key: 'tx_placements_domain_model_position.contact')}</label>
		<f:form.textarea property="contact" class="contact"/>
	</div>
</div>

<f:comment>
<div class="row-fluid">
	<div class="span6">
		<label for="summary">{f:translate(key: 'tx_placements_domain_model_position.summary')}</label>
		<f:form.textarea property="summary" class="summary"/>
	</div>
</div>
</f:comment>
<div class="row-fluid">
	<div class="span6">
		<label for="description">{f:translate(key: 'tx_placements_domain_model_position.description')}</label>
		<f:form.textarea property="description" class="description"/>
	</div>
	<div class="span6">
		<div class="clearfix">
			<label for="fixedTerm">{f:translate(key: 'tx_placements_domain_model_position.fixed_term')}</label>
			<f:form.checkbox property="fixedTerm" class="fixed-term" value="{position.fixedTerm}" />
		</div>
		<div class="clearfix">
			<label for="duration">{f:translate(key: 'tx_placements_domain_model_position.duration')}</label>
			<f:form.textarea property="duration" class="duration"/>
		</div>
		<div class="clearfix">
			<label for="payment">{f:translate(key: 'tx_placements_domain_model_position.payment')}</label>
			<f:form.textarea property="payment" class="payment"/>
		</div>
	</div>
</div>




