<h2>{position.title}</h2>
<div class="short-info">
	<h3>{f:translate(key: 'tx_placements.general.information.plural')}</h3>
	<table>
		<f:if condition="{position.entryDate}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_position.entry_date')}:</th>
				<td class="date">{f:format.date(date:'{position.entryDate}', format:'d. F Y')}</td>
			</tr>
		</f:if>
		<f:if condition="{position.duration}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_position.duration')}:</th>
				<td class="duration">{position.duration}</td>
			</tr>
		</f:if>
		<f:if condition="{position.city}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_position.city')}:</th>
				<td class="location">{position.zip} {position.city}</td>
			</tr>
		</f:if>
		<f:if condition="{position.link}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_position.link')}:</th>
				<td class="location"><f:link.external uri="{position.link}" title="{position.link}">{position.link}</f:link.external></td>
			</tr>
		</f:if>
	</table>
</div>
<div class="long-info">
	<h3>{f:translate(key: 'tx_placements_domain_model_position.description')}</h3>
	<f:format.html>{position.description}</f:format.html>
</div>	
<h3>{f:translate(key: 'tx_placements_domain_model_position.contact')}</h3>
<div class="contact"><f:format.nl2br>{position.contact}</f:format.nl2br></div>
<f:if condition="{position.payment}">
	<h3>{f:translate(key: 'tx_placements_domain_model_position.payment')}</h3>
	<div class="payment"><f:format.nl2br>{position.payment}</f:format.nl2br></div>
</f:if>
