<table class="tx-placements" >
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.title" />
		</td>
		<td>
			{position.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.identifier" />
		</td>
		<td>
			{position.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.summary" />
		</td>
		<td>
			{position.summary}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.description" />
		</td>
		<td>
			{position.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.entry_date" />
		</td>
		<td>
			{position.entryDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.fixed_term" />
		</td>
		<td>
			{position.fixedTerm}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.duration" />
		</td>
		<td>
			{position.duration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.zip" />
		</td>
		<td>
			{position.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.city" />
		</td>
		<td>
			{position.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.payment" />
		</td>
		<td>
			{position.payment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.contact" />
		</td>
		<td>
			{position.contact}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.link" />
		</td>
		<td>
			{position.link}
		</td>
	</tr>
</table>