<table class="tx-placements" >
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.title" />
		</td>
		<td>
			{position.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.identifier" />
		</td>
		<td>
			{position.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.summary" />
		</td>
		<td>
			{position.summary}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_placements_domain_model_position.description" />
		</td>
		<td>
			{position.description}
		</td>
	</tr>
</table>