<f:layout name="Default" />

This template displays a EDIT form for a position
<f:section name="main">
	<f:if condition="{settings.debug}">
		<f:debug title="Position Types">{positionTypes}</f:debug>
		<f:debug title="Categories">{categories}</f:debug>
	</f:if>

	<f:flashMessages class="message"/>

		<div class="edit-form">
			<f:render partial="FormErrors" arguments="{object:Position}"/>

			<f:form pageUid="{settings.position.list.pid}" action="update" name="position" object="{position}" >
				<f:render 
					partial="Position/FormFields" 
					arguments="{
						settings: settings,
						position: position,
						categories: categories,
						sectors: sectors,
						workingHours: workingHours,
						positionTypes: positionTypes,
						organizations: organizations
					}" 
				/>
				<f:form.submit value="{f:translate(key: 'tx_placements.general.save')}" />
			</f:form>
		</div>
</f:section>
