{namespace pw=Webfox\Placements\ViewHelpers\Widget}
{namespace ps=Webfox\Placements\ViewHelpers}
<f:layout name="Default" />

This Template creates a list of positions.

<f:section name="main">
<f:if condition="{settings.debug}">
	<f:debug title="settings">{settings}</f:debug>
	<f:debug title="overwriteDemand">{overwriteDemand}</f:debug>
</f:if>
<f:flashMessages class="message"/>
<f:if condition="{settings.showMap}">
	<script type="text/javascript"><![CDATA[
		var iconWithColor = function(color) {
			return 'http://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin|+|' +
			color + '|000000|ffff00';
		}
		var gm,
		usualColor = 'eebb22',
		spiderfiedColor = 'ffee22',
		shadow,
		mapContainer,
		geocoder,
		bounds,
		mapData = {},
		map,
		overwriteDemand = ]]>{overwriteDemand->ps:format.json()}<![CDATA[;
		]]>
	</script>
	<div class="btn-group" id="switch-view">
		<f:form.button
			class="btn active"
			title="@todo: Zeige Listenansicht"
			value="list-view"
		>{f:translate(key:'@todo.list-view', default:'List')}</f:form.button>
		<f:form.button
			class="btn"
			title="@todo: Zeige Kartenansicht"
			value="map-view"
		>{f:translate(key: '@todo.map-view', default: 'Map')}</f:form.button>
	</div>
	<div id="map-view" style="display: none">
		<div class="jqAjax">klick</div>
		<div id="map_canvas" style="width:960px;height:600px"></div>
	</div>
</f:if>
<div id="list-view" class="position-list" >
	<f:render partial="Position/List/Head" />
	<pw:paginate  
		objects="{positions}" 
		as="paginatedPositions" 
		configuration="{itemsPerPage: '{settings.position.list.paginate.itemsPerPage}', 
				insertAbove: '{settings.position.list.paginate.insertAbove}',
				insertBelow: '{settings.position.list.paginate.insertBelow}',
				lessPages: '{settings.position.list.paginate.lessPages}',
				forcedNumberOfLinks: '{settings.position.list.paginate.lessPages}',
				pagesBefore: '{settings.position.list.paginate.pagesBefore}',
				pagesAfter: '{settings.position.list.paginate.pagesAfter}'
				}" >
		<f:for each="{paginatedPositions}" as="position">
			<f:render partial="Position/List/Item" arguments="{position: '{position}', settings: '{settings}'}" /> 
		</f:for>
	</pw:paginate>
</div>

<div class="row-fluid">
	<div class="span12">
		<ps:security.allow action="create" type="position">
			<f:link.action 
				pageUid="{settings.detailPid}" 
				action="new" 
				class="btn new pull-right"
				title="{f:translate(key: 'tx_placements.new_position')}"
			>
				<i class="fa fa-plus"></i>&nbsp;{f:translate(key: 'tx_placements.new_position')}
			</f:link.action>
		</ps:security.allow>
	</div>
</div>
</f:section>
