{namespace pw=Webfox\Placements\ViewHelpers\Widget}
{namespace ps=Webfox\Placements\ViewHelpers}
<f:layout name="Default" />

This Template creates a list of positions.

<f:section name="main">
<f:if condition="{settings.debug}">
	<f:debug title="settings">{settings}</f:debug>
</f:if>

<div  class="position-list" >
	<f:flashMessages class="message"/>
	<f:render partial="Position/List/Head" />
	<pw:paginate  
		objects="{positions}" 
		as="paginatedPositions" 
		configuration="{itemsPerPage: '{settings.position.list.paginate.itemsPerPage}', 
				insertAbove: '{settings.position.list.paginate.insertAbove}',
				insertBelow: '{settings.position.list.paginate.insertBelow}',
				lessPages: '{settings.position.list.paginate.lessPages}',
				forcedNumberOfLinks: '{settings.position.list.paginate.lessPages}',
				pagesBefore: '{settings.position.list.paginate.pagesBefore}',
				pagesAfter: '{settings.position.list.paginate.pagesAfter}'
				}" >
		<f:for each="{paginatedPositions}" as="position">
			<f:render 
				partial="Position/List/Item" 
				arguments="{position: '{position}', 
							settings: '{settings}', 
							requestArguments: '{requestArguments}'}" 
			/> 
		</f:for>
	</pw:paginate>
</div>

<div class="row-fluid">
	<div class="span12">
		<ps:security.allow action="create" type="position">
			<f:link.action 
				pageUid="{settings.detailPid}" 
				action="new" 
				class="btn new pull-right"
				title="{f:translate(key: 'tx_placements.new_position')}"
			>
				<i class="fa fa-plus"></i>&nbsp;{f:translate(key: 'tx_placements.new_position')}
			</f:link.action>
		</ps:security.allow>
	</div>
</div>
</f:section>
