{namespace ps=Webfox\Placements\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
	<f:if condition="{settings.debug}">
		<f:debug title="Settings">{settings}</f:debug>
		<f:debug title="Demand">{demand}</f:debug>
		<f:debug title="Search">{search}</f:debug>
		<f:debug title="Positions">{positions}</f:debug>
		<f:debug title="request arguments">{requestArguments}</f:debug>
	</f:if>
	<div class="tx-placements search-result">
		<f:flashMessages class="message" />
		<f:if condition="{search}">
			<f:if condition="{positions}">
				<div  class="position-list" >
					<f:render partial="Position/List/Head" />
					<f:widget.paginate  
						objects="{positions}" 
						as="paginatedPositions" 
						configuration="{itemsPerPage: '{settings.position.list.paginate.itemsPerPage}', 
							insertAbove: '{settings.position.list.paginate.insertAbove}',
							insertBelow: '{settings.position.list.paginate.insertBelow}',
							lessPages: '{settings.position.list.paginate.lessPages}',
							maximumNumberOfLinks: '{settings.position.list.paginate.maximumNumberOfLinks}',
							pagesBefore: '{settings.position.list.paginate.pagesBefore}',
							pagesAfter: '{settings.position.list.paginate.pagesAfter}'
							addQueryString: 'TRUE',
							addQueryStringMethod: 'GET,POST'
						}" >
						<f:for each="{paginatedPositions}" as="position">
							<f:render 
								partial="Position/List/Item" 
								arguments="{position: '{position}', 
									settings: '{settings}', 
									requestArguments: '{requestArguments}'}" 
							/> 
						</f:for>
					</f:widget.paginate>
				</div>
			</f:if>
		</f:if>
	</div>
</f:section>
