<f:layout name="Default" />
This Template displays a single position.

<f:section name="main">
<f:if condition="{settings.debug}">
	<f:debug title="settings">{settings}</f:debug>
</f:if>
<f:flashMessages />
	<div class="position-detail">
		<div class="row-fluid">
			<div class="span8">

				<f:render partial="Position/Properties" arguments="{position:position}" />
			</div>
			<div class="span4 navigation">
				<f:link.action 
					action="list"
					pageUid="{settings.backPid}" 
					class="button back">{f:translate(key:'tx_placements.general.backToList')}</f:link.action>
			</div>
			<div class="span4">
				<f:render partial="Position/Organization" arguments="{organization: '{position.organization}'}" />
			</div>
		</div>
	</div>
</f:section>
