<f:layout name="Default" />

<f:section name="main">
	<div class="edit-form">
		<f:flashMessages class="message"/>
		<f:render partial="FormErrors" arguments="{object:Organization}"/>

		<f:form action="update"  
			enctype="multipart/form-data"  
			name="organization" 
			object="{organization}"
		>
			<f:render 
				partial="Organization/FormFields" 
				arguments="{
					organization: organization
					sectors: sectors,
					categories: categories,
					settings: setting
					}"
			/>
			<f:form.submit name="save-reload" value="{f:translate(key: 'tx_placements.general.save')}" />
			<f:form.submit name="save-close" value="{f:translate(key: 'tx_placements.general.save-close')}" />
		</f:form>
		<div class="navigation">
			<f:link.action 
				action="list" 
				pageUid="{settings.listPid}"
				class="button back">{f:translate(key:'tx_placements.general.cancel', default: 'cancel')}</f:link.action>
		</div>
	</div>
</f:section>
