{namespace pw=Webfox\Placements\ViewHelpers\Widget}
{namespace ps=Webfox\Placements\ViewHelpers}
<f:layout name="Default" />

This Template creates a list of organizations.

<f:section name="main">
<f:if condition="{settings.debug}">
	<f:debug title="settings">{settings}</f:debug>
</f:if>
<f:flashMessages class="message"/>

<div  class="organization-list" >
	<div class="row-fluid">
		<div class="span8"><f:translate key="tx_placements_domain_model_organization.title" /></div>
		<div class="span2"><f:translate key="tx_placements_domain_model_organization.identifier" /></div>
		<f:security.ifHasRole role="{settings.security.organization.editorGroup}" >
			<div class="span2"> </div>
		</f:security.ifHasRole>
	</div>

	<pw:paginate  
		objects="{organizations}" 
		as="paginatedOrganizations" 
		configuration="{itemsPerPage: '{settings.organization.list.paginate.itemsPerPage}', 
				insertAbove: '{settings.organization.list.paginate.insertAbove}',
				insertBelow: '{settings.organization.list.paginate.insertBelow}',
				lessPages: '{settings.organization.list.paginate.lessPages}',
				forcedNumberOfLinks: '{settings.organization.list.paginate.lessPages}',
				pagesBefore: '{settings.organization.list.paginate.pagesBefore}',
				pagesAfter: '{settings.organization.list.paginate.pagesAfter}'
				}" >
		<f:for each="{paginatedOrganizations}" as="organization">
			<f:render partial="Organization/List/Item" arguments="{organization: '{organization}', settings: '{settings}'}" /> 
		</f:for>
	</pw:paginate>
</div>

<ps:security.allow action="create" type="organization">
	<f:link.action 
		action="new" 
		class="btn new pull-right"
		title="{f:translate(key:'tx_placements.new_organization')}"
	>
	<i class="fa fa-plus"></i>&nbsp;{f:translate(key:'tx_placements.new_organization')}
	</f:link.action>
</ps:security.allow>
</f:section>

