<f:debug title="settings">{settings}</f:debug>
<h2>{organization.title}</h2>
<div class="long-info">
	<table>
		<f:if condition="{organization.identifier}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_organization.identifier')}</th>
				<td class="identifier">{organization.identifier}</td>
			</tr>
		</f:if>
		<f:if condition="{organization.sectors}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_sector')}</th>
				<td class="sector-list">
					<f:for each="{organization.sectors}" as="sector" iteration="iteration" >
						<span class="sector">{sector.title}{f:if(condition: '{iteration.isLast}', then: '', else: ', ')}</span>
					</f:for>
				</td>
			</tr>
		</f:if>
		<f:if condition="{organization.image}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_organization.image')}</th>
					<td class="image">
						<f:image 
							image="{organization.image}" 
							alt="{organization.title}"
							width="{settings.organization.detail.image.width}"
						/>
					</td>
			</tr>
		</f:if>
		<f:if condition="{organization.description}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_organization.description')}</th>
				<td class="description"><f:format.html>{organization.description}</f:format.html></td>
			</tr>
		</f:if>
		<f:if condition="{organization.categories}">
			<tr>
				<th class="label">{f:translate(key: 'tx_placements_domain_model_category')}</th>
				<td class="category-list">
					<f:for each="{organization.categories}" as="category" iteration="iteration" >
						<span class="category">{category.title}{f:if(condition: '{iteration.isLast}', then: '', else: ', ')}</span>
					</f:for>
				</td>
			</tr>
		</f:if>
	</table>
</div>
