{namespace ps=Webfox\Placements\ViewHelpers}
<f:if condition="{settings.debug}">
	<f:debug title="requestArguments">{requestArguments}</f:debug>
</f:if>
<div class="row-fluid list-item">
<f:comment>titel, organization.title,entryDate,organization.zip organization.city</f:comment>
	<div class="span4 title">
		<f:link.action 
			action="show"
			pageUid="{settings.detailPid}" 
			arguments="{position : position,
					referrerArguments: requestArguments}"
		>
				{position.title}
		</f:link.action>
	</div>
	<div class="span2 organization city">{position.city}</div>
	<div class="span2 date"><f:format.date format="{settings.position.list.entryDate.format}">{position.entryDate}</f:format.date></div>
	<div class="span2 position-type">{position.type.title}</div>
	<f:comment>
		<div class="span2 date"><ps:format.strftime format="%d. %B %Y">{position.entryDate}</ps:format.strftime></div>
	</f:comment>
	<div class="span2">
		<div class="btn-group pull-right">
			<f:link.action 
				action="show"
				pageUid="{settings.detailPid}" 
				arguments="{position : position,
					referrerArguments: requestArguments}"
				class="btn"
				title="{position.title}"
			>
				<i class="fa fa-eye"></i>
			</f:link.action>
			<ps:security.allow action="admin" object="{position}" type="position">
				<f:then>
					<f:link.action 
						pageUid="{settings.detailPid}" 
						action="edit" 
						arguments="{position : position,
							referrerArguments: requestArguments}"
						class="btn edit" 
						title="{f:translate(key:'tx_placements.general.edit', default: 'Edit')}"
					><i class="fa fa-pencil-square-o"></i></f:link.action>
					<f:link.action 
						action="delete" 
						arguments="{position : position}" 
						class="btn delete" 
						title="{f:translate(key:'tx_placements.general.delete', default: 'Delete')}"
					><i class="fa fa-trash-o"></i></f:link.action>
				</f:then>
				<f:else>
					<ps:security.allow action="edit" object="{position}" matchClient="TRUE">
						<f:link.action 
							pageUid="{settings.detailPid}" 
							action="edit" 
							arguments="{position : position,
								referrerArguments: requestArguments}"
							class="btn edit" 
							title="{f:translate(key:'tx_placements.general.edit', default: 'Edit')}"
						><i class="fa fa-pencil-square-o"></i></f:link.action>
					</ps:security.allow>
					<ps:security.allow action="delete" object="{position}" matchClient="TRUE">
						<f:link.action 
							action="delete" 
							arguments="{position : position}" 
							class="btn delete" 
							title="{f:translate(key:'tx_placements.general.delete', default: 'Delete')}"
						><i class="fa fa-trash-o"></i></f:link.action>
					</ps:security.allow>
				</f:else>
			</ps:security.allow>
		</div>
	</div>
</div>
